.content{

    background:linear-gradient(blueviolet, purple); 
    display: flex;

    justify-content: center;
    flex-wrap: wrap;
}

.gfs{
    height: 500px;
    text-align: center;
    color: aliceblue;
    padding: 10px;     
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 10%;


}

.gfs h1{
    
    font-size: 80px; 
        
    color:#e4b6ac;
    
    
    font-family: 'Dancing Script', cursive;
    text-shadow: 0 0 20px purple;
} 
    





.reg{
    width: 500px;
    padding: 10px;
    background-color: #c491c9;
    margin: 10px;
    border-radius: 10px;
    
}

.mb-3{

    margin: 10px;
}

.mb-3 button{
    margin: 10px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: #f3c3c3;
    
}

.mb-3 button:hover{
    background-color: purple;
}

.btn-outline-primary{
    margin: 10px;
}

.btn-group{
    margin: 10px;
}




.other img{
    width: 30px;
}

.other{
    text-align: center;
}

@media (max-width :900px) {

   .gfs{
    position: static;
   }
}