.col-7 {
    background-color: #c491c9;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    width: 500px;
    box-shadow: 0 0 20px 5px black;
    flex-wrap: wrap;

}

.col-5 h1 {

    font-size: 80px;

    color: #e4b6ac;


    font-family: 'Dancing Script', cursive;
    text-shadow: 0 0 20px purple;

}

.col-5 {

    color: aliceblue;
    margin-right: 20px;
}

.content {
    background: linear-gradient(blueviolet, purple);



    

}

.container {
    margin-top: 20px;
    height: 100vh;


    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

}


.row {

    height: 500px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.d-grid {
    margin: 20px;

}

.forgot {
    margin: 5px;
    background-color: blueviolet;
    border: none;
}



@media (max-width :900px) {

    .col-5 {
        width: 400px;
        margin-bottom: 20px;
        margin-right: 10px;
    }

    .col-7 {
        width: 300px;
        margin: auto;




    }

    .container {
        margin-bottom: 20px;
        height: 800px;
        padding-bottom: 10px;
    }

    .container {
        justify-content: center;
    }

}