<div class="header">

  <div class="logo">GFS</div>

  <div class="center">


    <ul class="navbar" [style.display]="isMenuOpen ?'flex':'none'">
      <li><a href=""><span class="material-symbols-outlined">
            diversity_3
          </span>Engagement</a></li>

      <li><a href=""><span class="material-symbols-outlined">
            currency_rupee
          </span>Fianancial Services</a></li>

      <li class="Directory"><a href=""><span class="material-symbols-outlined">
            menu_book
          </span>Services Directory <span class="material-symbols-outlined">
            expand_more
          </span></a>
        <div class="Dir-services">

      <li class="submenu-1" ><a href="">General Services <span class="material-symbols-outlined">
            arrow_right
          </span></a>
          <div class="submenu-2">

            <li><a href="">Electricians </a></li>
            <li><a href="">  Plumbers </a></li>
            <li><a href="">Carpenters</a></li>
            <li><a href="">  Laymen/ Pastors </a></li>
            <li><a href="">Preacher </a></li>
      
      
      
      
        </div>
        
        </li>
      <li class="submenu-1"><a href="">Holy Elements <span class="material-symbols-outlined">
            arrow_right
          </span></a>

          <div class="submenu-2">

            <li><a href="">Candles </a></li>
            <li><a href="">  Bakery </a></li>
            <li><a href="">Florist</a></li>
            <li><a href="">  Catering Services </a></li>
            <li><a href="">Books sales/ Hymnals </a></li>
            <li><a href="">Offering- handles </a></li>
            <li><a href="">  Musicians </a></li>
            <li><a href="">Musical instrument sales/ service</a></li>
            <li><a href="">  PA system sales/ service </a></li>
            <li><a href="">Cemeteries </a></li>
      
      
      
      
        </div>
        
          
        
        </li>
      <li class="submenu-1"><a href="">Theological faculty </a>
        
          
        </li>
      <li class="submenu-1"><a href="">Real estate rentals <span class="material-symbols-outlined">
            arrow_right
          </span></a>
          <div class="submenu-2">

            <li><a href="">Schools </a></li>
            <li><a href="">  Function Halls </a></li>
            <li><a href="">Conference Centers</a></li>
            <li><a href="">  Hotels with Banquet Halls </a></li>
            
      
          </div>
        
        </li>
      <li class="submenu-1"><a href="">Home services <span class="material-symbols-outlined">
            arrow_right
          </span></a>
        
          <div class="submenu-2">

            <li><a href="">Catering Services </a></li>
            <li><a href="">  Bakery </a></li>
            <li><a href="">Florist</a></li>
            <li><a href="">  Coffins/ Headstones/ Stone carving </a></li>
            
      
      
      
      
        </div>
        </li>




  </div>

  </li>
  </ul>

  <div class="menu">



    <span style="cursor: pointer;" [style.visibility]="isMenuOpen ? 'visible':'hidden'" class="material-symbols-outlined" (click)="fun()">
       Cancel
      </span>

    <span style="cursor: pointer;" [style.visibility]="isMenuOpen ? 'hidden':'visible'" class="material-symbols-outlined" (click)="fun()">
      menu
    </span>


  </div>


  <form action="">

    <input type="text" [style.width]="isMenuOpen ?'200px':'400px'"> <span style="cursor: pointer;"
      class="material-symbols-outlined">
      search
    </span>

  </form>
</div>


<div class="user">

  <div class="notification"><span class="material-symbols-outlined">
      notifications
    </span></div>
  <div class="messages"><span class="material-symbols-outlined">
      chat
    </span></div>
  <div class="profile"><span class="material-symbols-outlined">
      person
    </span></div>

  <div class="contact"> <span class="material-symbols-outlined">
      call
    </span> Contact Us</div>





</div>


</div>